<div class="col-xs-10 col-xs-offset-1 about">
    <h1>About Splurty</h1>
    <p>
    This version of Splurty was built by <a target="_blank" href="http://github.com/jmorenor">José Moreno</a>. 
    This is my first web app on my way to develop the required technical skills to become a well-rounded web developer and help people to turn ideas into real fully functional modern interactive web solutions.
    
    </p>
    <br />
    <p>
    I currently working as Business Analyst for a multinational FMCG in Germany, my seventh country of residence. After spending the 2014 summer completing a handful of Udacity, Treehouse, CodeSchool and Codeacademy courses, where I learn bits and pieces of HTML, CSS (including Sass), JavaScript and Python, and checking different online bootcamps in Web Development, I decided to enroll in theFirehoseProject because of the personal communication since the first the first contact and the team-based approach on the capstone project.
    </p>
    <p>
    If you want to learn how to code web apps like this one, have a look <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
    </p>
</div>


<div class="col-xs-12 col-sm-4 col-sm-offset-1 vcenter" style="padding-top: 5%;">
    <%= image_tag 'facetune.jpg', :class => 'img-responsive center-block' %>
</div>

<div class="col-xs-12 col-sm-6 about">
    <h2 class="text-center">José Moreno</h2>
    <br />
    <p>
        José Moreno is a web developement apprentice. Originally from Venezuela, he has spent the last 10 years moving around the Americas and Europe due to studies and work. His favorite place to live so far is Amsterdam, the Netherlands; he plans to come back there eventually, but, for the moment, he is looking forward to his next adventure (i.e. new job as a web developer while continuing collecting postal codes and IDs). In his free time, José enjoys cycling, swimming, going to the movies and theater plays, tasting new wines, travelling around, learning new languages (currently studying German) and working for causes such as Economic Empowerment, Poverty Alleviation and Education.
    </p>
    <h3 class="about">Some facts about José (as of October 2014)</h3>
    <ul>
        <li><strong>Country of Residence:</strong> 7</li>
        <li><strong>Country Visited:</strong> 26</li>
        <li><strong>Cities:</strong> 72</li>
        <li><strong>Favorite Football Teams:</strong> Rayados (Mexico), Paris Saint-Germain (France), A.C. Milan (Italy), Ajax (the Netherlands), Borussia Dormund (Germany), Arsenal (UK)</li>
        <li><strong>Favorite Baseball Teams:</strong> Leones del Caracas (Venezuela), New York Yankess (USA)</li>
        <li><strong>Km flown during the last 10 years:</strong> over 400,000</li>
        <li><strong>Km driven in 2014:</strong> over 25,000</li>
        <li><strong>Favorite Type of Wine:</strong> Amarone della Valpolicella</li>
    </ul>
</div>
    <br class="clear"/>
    <br />
    <br />
    <br />
    <br />
</div>