<div class="col-xs-12 col-sm-12 center text-center pad">
<h2>
    <span>SPLURTY / No. <%= @quote.id%></span>
    This quote will blow your mind!
    
</h2>
    <h1><%= @quote.saying %></h1>
    <h2><%= @quote.author %></h2>
    </div>
</div>

<br class="clear"/>
    <br />